<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "//www.w3.org/TR/html4/loose.dtd">
<head>
    <title>Aircraft Parts | Maxton, NC</title>

    <link rel="stylesheet" type="text/css" href="css/site.css" />
    <script language="JavaScript" type="text/javascript" src="scripts/jquery.js"></script>
    <script language="JavaScript" type="text/javascript" src="scripts/site.js"></script>

</head>
<html lang="en">
	<body>
        <table class="header">
            <tr>
                <td class="header-logo"><img src="images/logo.jpeg"></td>
                <td class="header-contact">
                    <span class="header-contact-phone">(910) 844-5775</span><br/>
                    <span class="header-contact-address">
                        16641 Airport Road<br/>
                        Maxton, NC 28364
                    </span>
                </td>
            </tr>
        </table>

        <table class="nav">
            <tr>
                <td></td>
                <td class="nav-link"><a href="index">HOME</a></td>
                <td class="nav-link"><a href="parts">PARTS</a></td>
                <td class="nav-link"><a href="about-us">ABOUT US</a></td>
                <td class="nav-link"><a href="location-meb">LOCATION-MEB</a></td>
                <td class="nav-link"><a href="contact">CONTACT</a></td>
                <td></td>
            </tr>
        </table>

        <div class="tag-line">
           <img src="images/tag-line.png"/> 
        </div>
        
        <div class="content">
        {{ content }}
        </div>

        <div class="footer">
            <span class="footer-nav"><a href="index">Home</a> | <a href="parts">Parts</a> | <a href="about-us">About Us</a> | <a href="location-meb">Location-MEB</a> | <a href="contact">Contact</a></span>
            <table class="footer-social">
                <tr><td colspan="3">SHARE THIS PAGE:</td></tr>
                <tr>
                    <td><a href="https://www.facebook.com/share.php?u=http://www.charlotteaircraft.com/" target="_blank"><img src="images/facebook.jpeg"></a></td>
                    <td><a href="https://twitter.com/intent/tweet?text=Charlotte%20Aircraft%20Corporation&url=https%3A%2F%2Fwww.charlotteaircraft.com%2F" target="_blank"><img src="images/twitter.jpeg"></a></td>
                    <td><a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.charlotteaircraft.com/" target="_blank"><img src="images/linkedin.jpeg"></a></td>
                </tr>
            </table>
            <span class="footer-copyright">Copyright &copy; <span id="year">2023</span> Charlotte Aircraft Corporation.</span>
        </div>
	</body>
</html>